body {
	margin: 0;

	font-family: 'Cuprum', Arial, sans-serif;
	font-weight: 400;
	color: #000;
	
	background-color: #fff;	
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;

	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(100%);
	        clip-path: inset(100%);
	overflow: hidden;

	white-space: nowrap;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
}

.main-header {
	background-color: #f4f7f9;
	padding-bottom: 60px;
}

.top-menu {
	background-color: #293449;
	
	font-size: 17px;
	line-height: 18px;
	color: #fff;

	width: 100%;
	margin-bottom: 46px;
}
 
.container {
	margin: 0 auto;
	padding: 0 10px;
	width: 940px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.top-menu .container {
	height: 42px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
} 

.top-menu .logo {
	background-color: #ee3643;
	
	display: block;
	position: relative;
	padding: 13px 0 12px 0;
	width: 220px;
	height: 18px;

	text-align: center;
}

.top-menu .logo::after {
	content: "";
	display: block;
	position: absolute;
	top: 42px;
	left: 0px;
	width: 220px;
	height: 5px;
	background-color: #9a212a;
}

.top-menu .header-search {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
} 

.header-search label {
	padding: 13px 0 13px 0;
} 

.top-menu .features {
	line-height: 39px;
	vertical-align: middle;
	color: #fff;

	background-image: url(../img/icon-bookmark.svg);
	background-position: 17px 12px;
	background-repeat: no-repeat;

	display: block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin-right: 0px;
	padding-left: 44px;
	width: 155px; 
} 

.top-menu .features:last-of-type {
	width: 146px;
	padding-left: 46px;
	background-image: url(../img/cart-icon.svg);
	background-position: 15px 12px;
	background-repeat: no-repeat;
}

.top-menu .features:last-of-type:hover {
	background-image: url(../img/cart-icon-hover.svg);
}

.top-menu .features:last-of-type:active {
	background-image: url(../img/cart-icon-active.svg);
}

.top-menu input {
	background-color: #293449;
	background-image: url(../img/icon-search.svg);
	background-position: 17px 12px;
	background-repeat: no-repeat;
  border: none;

  font-size: 17px;
	line-height: 18px;
	color: #000;

	width: 270px;
	padding: 0 0 0 49px;
}

.top-menu input[type=search]::-webkit-input-placeholder {
	color: #fff;
}

.top-menu input[type=search]:-ms-input-placeholder {
	color: #fff;
}

.top-menu input[type=search]::-ms-input-placeholder {
	color: #fff;
}

.top-menu input[type=search]::placeholder {
	color: #fff;
	opacity: 1;
}

.top-menu .checkout { 
	font-size: 17px;
	line-height: 18px;
	color: #fff;
	cursor: pointer;

	border: none;
	width: 150px;
	padding: 0; 

	background-color: #63a63e;
}

.top-menu .logo:hover {
	background-color: #ca2c37;
}

.top-menu input:hover,
.top-menu label:hover,
.top-menu .features:hover {
	background-color: #212a3a;
}

.top-menu .features:hover {
	background-image: url(../img/icon-bookmark-hover.svg);
}

.top-menu .features:active {
	background-image: url(../img/icon-bookmark-active.svg);
}

.top-menu .checkout:hover {
	background-color: #5fbb2d;
}

.top-menu .logo:active {
	background-color: #ba2732;
}

.top-menu .features:active {
	background-color: #161d29;
	color: #999ca1;
}

.top-menu .checkout:active {
	background-color: #518534;
	color: #999ca1;
}

.top-menu input:hover{
	background-image: url(../img/icon-search-hover.svg);
}

.top-menu input:focus {
	background-image: url(../img/icon-search-focus.svg);
	background-color: #fff;
}

.main-header-content {
	margin-bottom: 38px;
}

.main-header-content h1 {
	font-size: 16px;
	line-height: 23px;
  font-weight: 400;
  font-style: italic;
  color: #ee3643;

  width: 300px;
  margin: 0 20px 0 0;
  padding: 3px 51px 0 52px;
  margin-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-contacts {
	font-size: 14px;
	line-height: 24px;
	color: #32425c;

	width: 300px;
	margin-right: 20px;
}

.header-contacts span {
	border:3px solid #fff;

	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
	
	position: relative;
	display: block;
	width: 270px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 10px 50px 9px 70px;
}

.header-contacts span::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;

	width: 19px;
	height: 19px;

	background-image: url(../img/icon-phone.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.header-contacts p {
	margin: 4px 0 0 10px; 
}

.top-menu-navigation {
	width: 300px;
}

.user-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 0 0 20px;
	padding: 0;

	list-style: none;
}

.user-navigation li {
	font-size: 21px;
	line-height: 18px;

	padding: 14px 23px 14px 23px;

	background-color: #fff;
}
 
.user-navigation li:first-child {
	margin-right: 10px;
	padding: 14px 27px 14px 46px;
}

.user-navigation li:last-child {
	width: 150px;
}

.user-navigation a {
	color: #000;
}

.user-navigation a:hover {
	color: #ee3643;
}

.user-navigation a:active {
	color: #b2b2b2;
}

.user-navigation .login-link {
	position: relative;
}

.user-navigation .login-link::before {
	content: "";
	position: absolute;
	top: 4px;
	left: -37px;

	width: 25px;
	height: 17px;

	background-image: url(../img/icon-login.svg);
	background-repeat: no-repeat;
	background-position: 4px -1px;
} 

.user-navigation .login-link:hover::before {
	background-image: url(../img/icon-login-hover.svg);
}

.user-navigation .login-link:active::before {
	background-image: url(../img/icon-login.svg);
}

.background-wrapper {
	width: 940px;
	margin: 0 auto;

	background-color: #32425c;
	-webkit-box-shadow: inset 0px -5px 0 0 #293449;
	        box-shadow: inset 0px -5px 0 0 #293449;
}

.site-navigation {
	list-style: none;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	margin: 0;
	padding: 0; 
}


.site-navigation a {
	font-size: 17px;
	line-height: 22px;
	color: #fff;

	display: block;
	padding: 18px 30px 20px 30px;
}

.site-navigation li:first-child a {
	padding-left: 52px;
}

.site-navigation li:nth-child(2) a {
	padding-left: 33px;
}

.site-navigation li:last-child a {
	padding-right: 48px;
	padding-left: 33px;
}

.site-navigation a:hover {
	background-color: #293449;
}

.site-navigation a:active {
	background-color: #1d2739;
	color: #8e939c;
}

.promo-block {
	margin-bottom: 53px;
}

.products-services {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	width: 940px;
	margin: 58px 0 0 0;
	padding: 0;
}

.products-services .row {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.products-services .first-row {
	margin-bottom: 20px;
}

.products-services .col-1 {
	width: 620px;
} 

.products-services .col-2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.products-services .products-services-item {
	width: 300px;
	height: 123px;
	
	background-color: #ffbf47;
}

.products-services .products-services-item-1 {
	position: relative;
	background-image: url(../img/icon-1.png);
	background-repeat: no-repeat;
	background-position: 212px 32px;
}

.products-services .products-services-item-2 {
	background-color: #3bbce3;
	background-image: url(../img/icon-2.png);
	background-repeat: no-repeat;
	background-position: 197px 33px;
}


.products-services .products-services-item-3 {
	background-color: #dc91d8;
	background-image: url(../img/icon-3.png);
	background-repeat: no-repeat;
	background-position: 191px 31px;
}


.products-services .products-services-item-4 {
	position: relative;
	width: 620px;
	height: 266px;	
}

.products-services .products-services-item-5 {
	background-color: #8ed78f;
	background-image: url(../img/icon-4.png);
	background-repeat: no-repeat;
	background-position: 196px 26px;
}


.products-services .products-services-item-6 {
	background-image: url(../img/icon-5.png);
	background-repeat: no-repeat;
	background-position: 191px 31px;
}


.products-services-item b {
	display: block;
	margin-bottom: 15px;

	font-family: 'Cuprum', Arial, sans-serif;
  font-size: 24px;
  line-height: 22px;
  font-weight: bold;
  color: #fff;
}

.products-services-item p {
	margin-top: 26px;
	margin-left: 23px;
}

.products-services-item a {
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;

	background-color: rgba(178, 178, 178, 0.45);

	display: block;
	width: 135px;
	padding: 10px 20px 10px 25px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.products-services .products-services-item-4 .open-catalog {
	font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #ee3643;
  position: absolute;
  bottom: 20px;
  left: 25px;
  padding: 10px 40px 10px 40px;
  border-radius: 3px;
  width: 195px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.products-services .products-services-item-4 .open-catalog:hover {
	background-color: #ca2c37;
}

.products-services .products-services-item-4 .open-catalog:active {
	background-color: #ba2732;
}

.products-services-item a:hover {
	background-color: rgba(178, 178, 178, 0.65);
}

.products-services-item a:active {
	background-color: rgba(178, 178, 178, 1);
}

.products-services-item .flag {
	position: absolute;
  top: 0px;
  right: 0px;
  
  width: 60px;
  height: 60px;
  
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
} 

.products-services-item .flag-new {
	background-image: url(../img/new-flag.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

/* Слайдер */
.slider{
    max-width: 100%;
    position: relative;
    margin: auto;
    height: 266px;
    margin-bottom: 15px;
}
/* Картинка мастабируется по отношению к родительскому элементу */
.products-services-item {
	position: relative;
}

.slider .item img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 266px;
}
/* Кнопки вперед и назад */
.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-left: 25px;
    margin-top: -19px;
    padding: 21px 16px;
    font-weight: bold;
    font-size: 18px;
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(178, 178, 178, 0);
    background-image: url(../img/icon-left.png);
		background-repeat: no-repeat;
		background-position: 0 0;
}
.slider .next {
		margin-right: 20px;
    right: 0;
    border-radius: 3px 0 0 3px;
    background-image: url(../img/icon-right.png);
		background-repeat: no-repeat;
		background-position: 10px 0;
}

.slider .prev:hover, .slider .next:hover,
.slider .prev:active, .slider .next:active {
	background-color: rgba(178, 178, 178, 0);
}
/* Заголовок слайда */
.slideText {
    position: absolute;

    color: #fff;
    font-size: 18px;
    line-height: 17px;
  
    left: 23px;
    top: 23px;
}

.slideText b {
	margin-bottom: 6px;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
}
.slider-dots {
	position: absolute;
	bottom: 30px;
	left: 292px;
}
.slider-dots_item{
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
    background-color: #ee3643;
}

.popular-products .container {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.popular-goods-wrapper {
	position: relative;
	margin-bottom: 21px;
}

.popular-goods-wrapper h2 {
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	text-transform: uppercase;
	color: #32425c;

	background-color: #f9f5f0;

	padding: 32px 30px 28px 30px;
	margin: 0;
}

.popular-goods-wrapper a {
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background-color: #ee3643;
	position: absolute;
	bottom: 27px;
	right: 24px;
	padding: 8px 54px 8px 53px;
	border-radius: 3px;
	width: 253px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.popular-goods-wrapper a:hover {
	background-color: #ca2c37;
}

.popular-goods-wrapper a:active {
	background-color: #ba2732;
}

.popular-products-list {
	list-style: none;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0;
	padding: 0; 
}

.popular-brands {
	margin-bottom: 65px;
}

.popular-brands .container {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.popular-brands-wrapper {
	position: relative;
	margin-bottom: 22px; 
}

.popular-brands-list {
	list-style: none;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0;
	padding: 0;
}

.brand-item {
	margin-bottom: 14px;
}

.brand-item a {
	display: block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border: solid 1px #eaeaea;
}

.brand-item a:hover {
	-webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
	        box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-brands-wrapper h2 {
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	text-transform: uppercase;
	color: #32425c;

	background-color: #f9f5f0;

	padding: 27px 30px 27px 30px;
	margin: 0;
}

.popular-brands-wrapper a {
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background-color: #ee3643;
	position: absolute;
	bottom: 23px;
	right: 24px;
	padding: 10px 54px 10px 54px;
	border-radius: 3px;
	width: 253px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
} 

.popular-brands-wrapper a:hover {
	background-color: #ca2c37;
}

.popular-brands-wrapper a:active {
	background-color: #ba2732;
}

.services {
	background-color: #f2f6f8;
}

.services .container {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
} 

.services .first-row {
	margin-top: 40px;
	padding-top: 22px;
}

.services .first-row h2 {
	margin: 0px;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
}

.services .first-row p {
	display: block;
	width: 417px;
	margin-top: 29px;
	margin-bottom: 68px;

	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.services .second-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

}

/* Табы */

 .tabs {
 	position: relative;
	height: 283px;
	padding: 0px;
}
.tabs .tabs-wrap {
	float: left;
	width: 200px;
}

/* Стили секций с содержанием */
.tabs section {
	position: absolute;
	top: 0px;
	left: 320px;
	display: none;
	width: 630px;
	height: 270px;
	padding: 0px;
	background-color: #f2f6f8;

}

.tab-item1 {
	background-image: url(../img/delivery.png);
	background-position: 151px 25px;
	background-repeat: no-repeat;
}

.tab-item2 {
	background-image: url(../img/guarantee.png);
	background-position: 243px 7px;
	background-repeat: no-repeat;
}
.tab-item3 {
	background-image: url(../img/credit.png);
	background-position: 163px 6px;
	background-repeat: no-repeat;
}
.tabs section h2 {
	font-size: 36px;
	line-height: 36px;
	font-weight: 400;
	text-transform: uppercase;
	color: #32425c;

	margin: 0;
	margin-bottom: 25px; 
}
.tabs section p {
	display: block;
	margin: 0px;

	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000;
}

.tab-item1 p {
	width: 300px;
}

.tab-item2 p {
	width: 401px;
}

.tab-item3 p {
	width: 302px;
}

.tab-item3 a {
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;

	background-color: #ee3643;

	display: block;
	margin-top: 30px;
	padding: 14px 40px 10px 40px;
	border-radius: 3px;
	width: 220px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.tab-item3 a:hover {
	background-color: #ca2c37;
}

.tab-item3 a:active {
	background-color: #ba2732;
}
/* Прячем чекбоксы */
.tabs input {
	display: none;
	position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tabs label {
	position: absolute;
	top: 0px;
	left: 0px;

	display: block;
	width: 240px;
	height: 62px;
	margin-left: 0px;
	padding: 16px 22px;
	border-top: 1px solid #405069;
	border-bottom: 1px solid #293449;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	font-size: 21px;
	line-height: 30px;
	font-weight: 700;
	color: #fff;
	
	background: #32425c;
}

.tabs label:nth-of-type(1)::after {
	content: "";
	position: absolute;
	top: -40px;
	right: 0px;

	width: 10px;
	height: 279px;

	background-image: url(../img/tabs-shadow.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	z-index: 2;
}

.tabs label:nth-of-type(2) {
	top: 62px;
	left: 0px;
}

.tabs label:nth-of-type(3) {
	top: 124px;
	left: 0px;
}

/* Изменения стиля переключателей вкладок при наведении */
.tabs label:hover {
	background-color: #293449;
	cursor: pointer;
}

/* Стили для активной вкладки */
.tabs input:checked+label {
	color: #293449;
	background: #fff;
	border: none;
}

/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3 {
	display: block;
}

.about-company-cont {
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.about-company {
	margin-top: 80px;
	margin-bottom: 39px;
	width: 540px;
}

.contacts {
	margin-top: 80px;
}

.about-company h2 {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: #000;

	margin: 0;
}

.about-company p {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: -0.4px;

	margin-top: 28px;
	margin-bottom: 0;
}

.about-company p:nth-of-type(2) {
	margin-top: 23px;
	font-size: 13px;
	letter-spacing: 0.2px;

	display: block;
	width: 460px;
}

.delivery-list {
	list-style: none;

	font-size: 18px;
	line-height: 20px;

	margin-top: 20px;
	margin-bottom: 36px;
	padding-left: 36px;
}

.delivery-list li {
	position: relative;
	margin-bottom: 20px;
}

.delivery-list li::before {
	content: "";
	position: absolute;
	top: 8px;
	left: -35px;

	width: 25px;
	height: 2px;

	background-color: #ee3643;
}

.about-company a {
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;

	background-color: #ee3643;

	display: block;
	padding: 10px 41px 10px 39px;
	border-radius: 3px;
	width: 220px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.about-company a:hover {
	background-color: #ca2c37;
}

.about-company a:active {
	background-color: #ba2732;
}

.contacts h2 {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: #000;

	margin: 0;
}

.contacts p {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;

	margin-top: 26px;
	margin-bottom: 0;

	display: block;
	width: 200px;
}

.contacts img {
	margin-top: 33px;
	margin-bottom: 33px;
}

.contacts a {
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;

	background-color: #ee3643;

	display: block;
	padding: 10px 40px 10px 45px;
	border-radius: 3px;
	width: 300px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.contacts a:hover {
	background-color: #ca2c37;
}

.contacts a:active {
	background-color: #ba2732;
}

.main-footer {
	background-color: #32425c;
	margin-top: 49px;
}

.main-footer .container {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
} 

.footer-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.footer-nav-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.footer-nav .logo {
	background-color: #ee3643;
	-webkit-box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
	        box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
	margin: 0px;
	padding: 20px 0 20px 0;
	width: 220px;
	height: 68px;

	text-align: center;
}

.footer-nav-list {
	list-style: none;

	font-size: 18px;
	line-height: 27px;

	margin: 0;
	padding: 0;
	width: 550px;
}

.footer-nav-list li {
	margin-right: 60px;
	padding-top: 35px;
}

.footer-nav-list a {
	color: #fff;
}

.footer-nav-list a:hover {
	text-decoration: underline;
}

.footer-nav-list a:active {
	color: #929caa;
	text-decoration: none;
}

.footer-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 26px;
	margin-bottom: 50px;
}

.footer-contacts {
	font-size: 18px;
	line-height: 24px;
	color: #fff;

	width: 340px;
	margin: 0px;
	padding-left: 3px;
}

.products-menu-list {
	list-style: none;

	font-size: 18px;
	line-height: 24px;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	margin: 0;
	padding: 0;
}

.products-menu-list li {
	margin-left: 60px;
}

.products-menu-list a {
	color: #ffd180;
}

.products-menu-list a:hover {
	text-decoration: underline;
}

.products-menu-list a:active {
	color: #998a6e;
	text-decoration: none;
}

.footer-down {
	background-color: #293449;
}

.footer-down .container {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	padding-top: 37px;
	padding-bottom: 35px;
}

.footer-copyright {
	font-size: 16px;
	line-height: 18px;
	color: #fff;

	width: 300px;
	margin: 0 159px 0 0;
}

.footer-social {
	width: 300px;
	margin-right: 7px;
}

.feedback-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 382px;
}

.footer-social-list {
	list-style: none;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	width: 130px;
	margin: 0;
	margin-left: -4px;
	margin-top: -2px;
	padding: 0;
}

.social-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;

	border-radius: 50%;

	width: 42px;
	height: 42px;

	background-color: #212a3a;
}

.social-button:hover,
.social-button:active {
	background-color: #ee3643;
}

.footer-feedback {
	margin: 0;
	margin-right: 54px;
}

.footer-developers {
	margin: 0;
}

.footer-feedback b {
	font-size: 16px;
	line-height: 18px;
	color: #fff;
}

.footer-feedback a {
	font-size: 16px;
	line-height: 18px;
	color: #ffd180;
}

.footer-feedback a:hover {
	text-decoration: underline;
}

.footer-feedback a:active {
	text-decoration: none;
	color: #c73644;
}

.footer-developers b {
	font-size: 16px;
	line-height: 18px;
	color: #fff;
}

.footer-developers a {
	font-size: 16px;
	line-height: 18px;
	color: #ffd180;
}

.footer-developers a:hover {
	text-decoration: underline;
}

.footer-developers a:active {
	text-decoration: none;
	color: #c73644;
}


/* внутреняя страница */

.inner .top-menu .features:last-of-type {
	background-image: url(../img/cart-icon2.svg);
}

.inner .top-menu .features:last-of-type:hover {
	background-image: url(../img/cart-icon-hover.svg);
}

.inner .top-menu .features:last-of-type:active {
	background-image: url(../img/cart-icon-active.svg);
}

.inner ul {
	list-style: none;
}

.inner .features-red {
	background-color: #ee3643;
}

.inner-menu-navigation {
	width: 300px;
}

.inner-menu-navigation a {
	font-size: 21px;
	line-height: 21px;
	color: #000;

	display: block;
	background-color: #fff;
	padding: 12px 67px 12px 47px;

}

.user {
	position: relative;
}

.user::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 14px;

	width: 20px;
	height: 18px;

	background-image: url(../img/icon-user.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.user:hover::before {
	background-image: url(../img/icon-user-hover.svg);
}

.user:active::before {
	background-image: url(../img/icon-user.svg);
}

.user::after {
	content: "";
	position: absolute;
	top: 14px;
	right: 11px;

	width: 20px;
	height: 18px;

	background-image: url(../img/icon-logout.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.user:hover::after {
	background-image: url(../img/icon-logout-hover.svg);
}

.user:active::after {
	background-image: url(../img/icon-logout.svg);
}

.inner-menu-navigation a:active {
	color: #b2b2b2; 
}

.inner-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 7px 0 0 0; 
}

.inner-navigation li {
	background-color: #f4f7f9;
	padding-left: 18px;
}

.inner-navigation li:last-child {
	padding-left: 33px;
}

.inner-navigation li:last-child a {
	position: relative;
}

.inner-navigation li:last-child a::before {
	content: "";
	position: absolute;
	top: 7px;
	left: -18px;

	width: 4px;
	height: 4px;

	background-image: url(../img/Shape1copy.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.inner-navigation a {
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
	color: #32425c;

	background-color: #f4f7f9;
	margin: 0;
	padding: 0;
} 

.inner-navigation a:hover {
	color: #ee3643;
}

.inner-navigation a:active {
	color: #b2b2b2;
}

.breadcrumbs {
	list-style: none;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	margin: 0;
	padding: 21px 0 20px 0;
}

.breadcrumbs li {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;

	padding-left: 39px;

	background-image: url(../img/icon-right-small.png);
	background-repeat: no-repeat;
	background-position: 17px 2px;
}

.breadcrumbs li:first-child {
	padding-left: 54px;
	background-image: url(../img/icon-home.png);
	background-position: 0px 2px;
}

.breadcrumbs li:last-child {
	padding-left: 43px;
}

.breadcrumbs a {
	color: #000;
}

.inner .perforators {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 400;
	color: #32425c;

	background-color: #f2f6f8;
	margin: 0;
	padding: 30px 0 34px 30px;
	width: 940px;
}

.filters fieldset {
	border: none;
	border-bottom: 1px solid #e5e5e5;

	margin: 0;
	margin-bottom: 3px;
	padding: 0;
} 

.filters ul {
	margin: 0;
	padding: 0;
}

.filters-wrapper {
	width: 220px;
	margin-right: 20px;
}

.catalog-wrapper {
	width: 700px;
}

.filters {
	margin-top: 14px;
}

.filters h3 {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;

	padding: 10px 18px;
	margin: 0;

	background-color: #f7f3ec;
	border-radius: 5px;
}

.filter-item {
  margin: 0;
  padding: 0;
  
  border: none;
  
  width: 220px;
  margin: 50px auto; 
}

.range-filter {
  width: 220px;
  margin-top: 13px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  
  height: 41px;
  margin-bottom: 10px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f7f3ec;;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
  margin-bottom: 28px;
}

.price-controls label {
	position: relative;

  display: inline-block;
  vertical-align: middle;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls label:first-child::after {
	content: "";

	position: absolute;
	top:17px;
	right: -3px;
	
	width: 8px;
	height: 1px;
	background-color: #444;
}

.price-controls input {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
  width: 95px;
  padding: 8px 10px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f7f3ec;
}

.max-price {
  text-align: right;
}

.filter .power {
	border-bottom: none;
	margin-bottom: 59px;
}

.filters-panel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	margin-top: 14px;
	margin-bottom: 22px;
	padding-top: 10px;
	padding-bottom: 10px;

	background-color: #f7f3ec;
	border-radius: 5px;
}

.filters-panel  div {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
	
	-webkit-box-sizing: border-box;
	
	        box-sizing: border-box;
	width: 238px;
}
.filters-panel div:nth-child(1) {
	padding-left: 20px;
}

.filters-panel div:nth-child(2) {
	width: 120px;
}

.filters-panel div:nth-child(3) {
	width: 117px;
}

.filters-panel div:nth-child(4) {
	position: relative;
	width: 156px;
}

.filters-panel div:nth-child(5) {
	position: relative;
	width: 32px;
}

.filters-panel div:nth-child(6) {
	position: relative;
	width: 32px;
}

.filters-panel a {
	color: #cacaca;
	border-bottom: 1px dotted #ee3643;
}

.filters-panel a:hover {
	color: #000;
	border-bottom: 1px solid #ee3643;
}

.filters-panel a:active {
	color: #ee3643;
	border-bottom: none;
}

.filters-panel .arrow-up {
	display: block;
	width: 28px;
	height: 18px;

	border-bottom: none;

	background-image: url(../img/icon-up-dir.png);
	background-position: 9px 4px;
	background-repeat: no-repeat;
} 

.filters-panel .arrow-down {
	display: block;
	width: 28px;
	height: 18px;

	border-bottom: none;

	background-image: url(../img/icon-down-dir.png);
	background-position: 10px 5px;
	background-repeat: no-repeat;
}

.filters-panel .arrow-up:hover {
	border-bottom: none;

	background-image: url(../img/icon-up-dir-black.png);
	background-position: 0px 6px;
	background-repeat: no-repeat;
}

.filters-panel .arrow-up:active {
	border-bottom: none;

	background-image: url(../img/icon-up-dir-red.png);
	background-position: 0px 6px;
	background-repeat: no-repeat;
}

.filters-panel .arrow-down:hover {
	border-bottom: none;

	background-image: url(../img/icon-down-dir-black.png);
	background-position: 0px 6px;
	background-repeat: no-repeat;
}

.filters-panel .arrow-down:active {
	border-bottom: none;

	background-image: url(../img/icon-down-dir-red.png);
	background-position: 0px 6px;
	background-repeat: no-repeat;
}

.inner legend {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;

	padding-top: 14px;
}

.filter-option {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;

	margin-bottom: 20px;
}

.filter-option:first-child {
	margin-top: 13px;
}

.checkbox-wrapper,
 .radiobuttons-wrapper {
	position: relative;

	padding-left: 34px;

	cursor: pointer;
}

.checkbox-wrapper input[type="checkbox"] + .checkbox-indicators {
	position: absolute;
	top: -5px;
	left: 0;

	width: 20px;
	height: 20px;

	border: 2px solid #b5b5b5;
	border-radius: 2px;
}

.checkbox-wrapper input[type="checkbox"]:disabled + .checkbox-indicators {
	border: 2px solid #e9e9e9;
}

.checkbox-wrapper input[type="checkbox"]:focus + .checkbox-indicators {
	outline: 2px solid #48a1bf;
  outline: 5px auto -webkit-focus-ring-color;
}

.checkbox-wrapper input[type="checkbox"]:checked + .checkbox-indicators::before,
.checkbox-wrapper input[type="checkbox"]:checked + .checkbox-indicators::after {
	content: "";
	position: absolute;

	height: 4px;

	background-color:#b5b5b5;
}

.checkbox-wrapper input[type="checkbox"]:disabled + .checkbox-indicators::before,
.checkbox-wrapper input[type="checkbox"]:disabled + .checkbox-indicators::after {
	background-color:#e9e9e9;
}

.checkbox-wrapper input[type="checkbox"]:checked + .checkbox-indicators::before {
	width: 9px;
	
	top: 10px;
	left: 4px;
	z-index: 3;

	-webkit-transform: rotate(45deg);

	    -ms-transform: rotate(45deg);

	        transform: rotate(45deg);
}

.checkbox-wrapper input[type="checkbox"]:checked + .checkbox-indicators::after {
	width: 18px;
	
	top: 3px;
	left: 8px;

	-webkit-transform: rotate(-45deg);

	    -ms-transform: rotate(-45deg);

	        transform: rotate(-45deg);
	border: 1px solid #fff;
}



.power legend {
	margin-top: 4px;
} 

.radiobuttons-wrapper input[type="radio"] + .radio-indicators {
	position: absolute;
	top: -5px;
	left: -1px;

	width: 18px;
	height: 18px;

	border: 4px solid #b5b5b5;
	border-radius: 50%;
}

.radiobuttons-wrapper input[type="radio"]:disabled + .radio-indicators {
	border: 4px solid #e9e9e9;
}

.radiobuttons-wrapper input[type="radio"]:checked + .radio-indicators::after {
	content: "";
	position: absolute;
	top: 4px;
	left: 4px;

	width: 10px;
	height: 10px;

	background-color: #b5b5b5;
	border-radius: 50%;
}

.radiobuttons-wrapper input[type="radio"]:disabled + .radio-indicators::after {
	background-color:#e9e9e9;
}

.filter-button {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000;
	text-transform: uppercase;
	text-align: center;

	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 2px;

	padding: 10px 37px;
}

.products-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	
	margin: 0;
	padding: 0;
}

.product-item {
	border:1px solid #e5e5e5;

	width: 220px;
	margin-bottom: 20px;

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
}

.product-item:hover {
	-webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
	        box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.product-item-wrapper {
	position: relative;
}

.product-item-wrapper .flag {
	position: absolute;
  top: -1px;
  right: -1px;
  
  width: 60px;
  height: 60px;
  
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.product-item-wrapper .flag-new {
  background-image: url(../img/new-flag.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.product-item-buttons {
	position: absolute;
  top: 0;
  left: 0;
  
  width: 218px;
  height: 88px;
  padding: 40px 0;
  
  background-color: rgba(255,255,255,1);
  z-index: 10;
}

.product-item h3 {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;

	margin: 0;
	width: 157px;
	padding-left: 30px;
	padding-right: 10px;
	padding-top: 4px;
}

.product-item p {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	margin: 0;
}

.product-item .old-price {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
	text-decoration: line-through;
	text-transform: uppercase;
	color: #999999;

	min-height: 20px;
  margin-top: 14px;
  margin-bottom: 8px;
}

.product-item .price {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	position: relative;

  width: 80px;
  margin: 0px auto;
  margin-bottom: 20px;
  padding: 10px 30px 10px 30px;
  
  
  background: #ee3643;
  border-radius: 3px;
}

.product-item .price::after {
	content: "";
  
  position: absolute;
  top: 0;
  right: -20px;
  
  width: 0;
  height: 0;
  
  border: 19px solid white;
  border-left-color: #ee3643;
}

.product-item .buy {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;

	background-color: #63a63e;
 
}

.product-item .marker {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #32425c;
	background-color: #fff;
}

.product-item .marker:hover {
	border-color: #32425c;
}

.product-item .marker:active {
	color: #c1c6ce;
	border-color: #c1c6ce;
}

.product-item-buttons .buy,
.product-item-buttons .marker {
  display: block;
  width: 130px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;

  cursor: pointer;
}

.product-item-buttons .buy {
	position: relative;
}

.product-item-buttons .buy:hover {
	background-color: #5fbb2d;
}

.product-item-buttons .buy:active {
	background-color: #518534;
}

.product-item-buttons .buy::before {
	content: "";
	position: absolute;
	top: 7px;
	left: 14px;

	width: 15px;
	height: 15px;

	background-image: url(../img/cart-icon-hover.svg);
	background-repeat: no-repeat;
	background-position: 0 0;

	opacity: 0.3;
}

.product-item-buttons .buy:hover::before,
.product-item-buttons .buy:active::before {
	opacity: 1;
}

.product-item .product-item-buttons {
  display: none;
}

.product-item:hover .product-item-buttons {
  display: block;
}

.pagination-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 27px 0px 59px 0px;
	padding: 0;
}

.pagination-item {
	margin-right: 11px;
}

.pagination-item a {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	color: #000;

	display: block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	
	height: 38px;

	padding: 10px 14px;

	border: 1px solid #e5e5e5;
	border-radius: 3px;
}

.pagination-item:last-child a {
	text-transform: uppercase;
	padding-left: 30px;
	padding-right: 22px;
}

.pagination-item-current a {
	color: #fff;
	background-color: #ee3643;
	border: 1px solid #ee3643;
	border-radius: 3px;
}

.pagination-item a:hover {
	border: 1px solid #bdc6ca;
}

.perforator-description {
	background-color: #f2f6f8;
}

.perforator-description .container {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.perforator-description h2 {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	
	margin: 0;
	margin-top: 63px;
}

.perforator-description .description-text {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: -0.47px;

	margin-top: 25px;
	margin-bottom: 68px;
}

.inner .main-footer {
	margin-top: 0px;
}

/*Модальные окна*/

.modal {
	position: fixed;
	z-index: 30;
}

.modal-feedback {
	bottom: 200px;
	left: 50%;

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
	-webkit-box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
	        box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
	width: 620px;
	padding-top: 40px;
	margin-left: -310px;
	
	background-color: #fff;
	border-top: 7px solid #ff5257; 
}

 .wrire-us .fields-wrapper {
	padding-left: 80px;
}

.wrire-us p {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

.wrire-us p:first-child {
	margin-right: 16px;
}

.wrire-us label {
	display: block;

	font-size: 18px;
	line-height: 18px;

	margin-bottom: 13px;
}

.wrire-us input[type='text'] {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #a9a9a9;

	border: solid 2px #dee3e4; 
	border-radius: 2px;

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
	width: 220px;
	padding: 12px 14px;
}

.wrire-us input[type='text']:hover {
	border: solid 2px #b5b5b5;
}

.wrire-us input[type='text']:active,
.wrire-us input[type='text']:focus {
	border: solid 2px #ee3643;
}

.comment-field-wrapper {
	margin-top: 20px;
	margin-bottom: 35px;
}

.wrire-us textarea {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #a9a9a9;

	width: 460px;
	height: 110px;
	padding-left: 14px;
	padding-top: 12px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	
	border: solid 2px #dee3e4; 
	border-radius: 2px;
}

.wrire-us textarea:hover {
	border: solid 2px #b5b5b5;
}

.wrire-us textarea:active,
.wrire-us textarea:focus {
	border: solid 2px #ee3643;
}

.button-wrapper {
	background-color: #f4f4f4;
	padding: 35px 0;
}

.wrire-us button {
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;

	background-color: #ee3643;

	display: block;
	margin: 0 auto;
	padding: 10px 41px 10px 39px;
	border-radius: 3px;
	border: none;
	width: 460px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
} 

.wrire-us button:hover {
	background-color: #ca2c37;
}

.wrire-us button:active {
	background-color: #ba2732;
}

.modal-close {
	position: absolute;
	top: 2px;
	right: 2px;
	
	width: 22px;
	height: 22px;
	font-size: 0;

	border: 0;
	cursor: pointer;
	background: 0;
}

.modal-close::before,
.modal-close::after {
	content: "";
	position: absolute;
	top: 10px;
	left: 2px;
	width: 19px;
	height: 3px;
	background-color: #ee3643;
}

.modal-close::before {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.modal-close::after {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.modal-map {
	bottom: 355px;
	left: 50%;
	margin-left: -470px; 
	-webkit-box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75); 
	        box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-map p {
	margin: 0;
	height: 446px;
}

.modal-basket {
	top: 410px;
	left: 50%;

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
	-webkit-box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
	        box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
	width: 620px;
	margin-left: -310px;
	
	background-color: #fff;
	border-top: 7px solid #ff5257; 
}

.modal-basket .button-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-left: 80px;
	padding-right: 80px; 

	background-color: #f1f1f1;
}

.modal-basket .modal-close {
	top: 2px;
	right: 5px;
}

.modal-basket p {
	font-size: 30px;
	line-height: 66px;

	padding-left: 180px;
	margin-top: 46px;
	margin-bottom: 46px;

	background-image: url(../img/form-1.png);
	background-position: 80px 0px;
	background-repeat: no-repeat;
}

.modal-basket a {
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;

	background-color: #ee3643;

	display: block;
	margin: 0 auto;
	padding: 10px 41px 10px 39px;
	border-radius: 3px;
	border: none;
	width: 220px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.modal-basket a:hover {
	background-color: #ca2c37;
}

.modal-basket a:active {
	background-color: #ba2732;
}

.modal-basket a:nth-of-type(2) {
	background-color: #fff;
	color: #000;
}

