body {
	margin: 0;

	font-family: 'Cuprum', Arial, sans-serif;
	font-weight: 400;
	color: #000;
	
	background-color: #fff;	
}

a {
	text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;

	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	overflow: hidden;

	white-space: nowrap;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
}

.main-header {
	background-color: #f4f7f9;
	padding-bottom: 60px;
}

.top-menu {
	background-color: #293449;
	
	font-size: 17px;
	line-height: 18px;
	color: #fff;

	width: 100%;
	margin-bottom: 46px;
}
 
.container {
	margin: 0 auto;
	padding: 0 10px;
	width: 940px;
	display: flex;
}

.top-menu .container {
	height: 42px;
	justify-content: space-between;
} 

.top-menu .logo {
	background-color: #ee3643;
	
	display: block;
	position: relative;
	padding: 13px 0 12px 0;
	width: 220px;
	height: 18px;

	text-align: center;
}

.top-menu .logo::after {
	content: "";
	display: block;
	position: absolute;
	top: 42px;
	left: 0px;
	width: 220px;
	height: 5px;
	background-color: #9a212a;
}

.top-menu .header-search {
	display: flex;
} 

.header-search label {
	padding: 13px 0 13px 0;
} 

.top-menu .features {
	line-height: 42px;
	vertical-align: middle;
	color: #fff;

	background-image: url(../img/icon-bookmark.svg);
	background-position: 17px 12px;
	background-repeat: no-repeat;

	display: block;
	box-sizing: border-box;
	margin-right: 0px;
	padding-left: 44px;
	width: 140px; 
} 

.top-menu .features:last-of-type {
	width: 160px;
	padding-left: 60px;

	background-image: url(../img/cart-icon.svg);
	background-position: 28px 12px;
	background-repeat: no-repeat;
}

.top-menu .features:last-of-type:hover {
	background-image: url(../img/cart-icon-hover.svg);
}

.top-menu .features:last-of-type:active {
	background-image: url(../img/cart-icon-active.svg);
}

.top-menu input {
	background-color: #293449;
	background-image: url(../img/icon-search.svg);
	background-position: 17px 12px;
	background-repeat: no-repeat;
  border: none;

  font-size: 17px;
	line-height: 18px;
	color: #000;

	width: 270px;
	padding: 0 0 0 49px;
}

.top-menu input[type=search]::placeholder {
	color: #fff;
}

.top-menu .checkout { 
	font-size: 17px;
	line-height: 18px;
	color: #fff;
	cursor: pointer;

	border: none;
	width: 150px;
	padding: 0; 

	background-color: #63a63e;
}

.top-menu .logo:hover {
	background-color: #ca2c37;
}

.top-menu input:hover,
.top-menu label:hover,
.top-menu .features:hover {
	background-color: #212a3a;
}

.top-menu .features:hover {
	background-image: url(../img/icon-bookmark-hover.svg);
}

.top-menu .features:active {
	background-image: url(../img/icon-bookmark-active.svg);
}

.top-menu .checkout:hover {
	background-color: #5fbb2d;
}

.top-menu .logo:active {
	background-color: #ba2732;
}

.top-menu .features:active {
	background-color: #161d29;
	color: #999ca1;
}

.top-menu .checkout:active {
	background-color: #518534;
	color: #999ca1;
}

.top-menu input:hover{
	background-image: url(../img/icon-search-hover.svg);
}

.top-menu input:focus {
	background-image: url(../img/icon-search-focus.svg);
	background-color: #fff;
}

.main-header-content {
	margin-bottom: 38px;
}

.main-header-content h1 {
	font-size: 16px;
	line-height: 23px;
  font-weight: 400;
  font-style: italic;
  color: #ee3643;

  width: 300px;
  margin: 0 20px 0 0;
  padding: 3px 51px 0 52px;
  margin-right: 20px;
  box-sizing: border-box;
}

.header-contacts {
	font-size: 14px;
	line-height: 24px;
	color: #32425c;

	width: 300px;
	margin-right: 20px;
}

.header-contacts span {
	border:3px solid #fff;

	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
	
	position: relative;
	display: block;
	width: 270px;
	box-sizing: border-box;
	padding: 10px 50px 9px 70px;
}

.header-contacts span::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;

	width: 19px;
	height: 19px;

	background-image: url(../img/icon-phone.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.header-contacts p {
	margin: 4px 0 0 10px; 
}

.top-menu-navigation {
	width: 300px;
}

.user-navigation {
	display: flex;
	margin: 0 0 0 20px;
	padding: 0;

	list-style: none;
}

.user-navigation li {
	font-size: 21px;
	line-height: 18px;

	padding: 14px 23px 14px 23px;

	background-color: #fff;
}
 
.user-navigation li:first-child {
	margin-right: 10px;
	padding: 14px 27px 14px 46px;
}

.user-navigation li:last-child {
	width: 150px;
}

.user-navigation a {
	color: #000;
}

.user-navigation a:hover {
	color: #ee3643;
}

.user-navigation a:active {
	color: #b2b2b2;
}

.user-navigation .login-link {
	position: relative;
}

.user-navigation .login-link::before {
	content: "";
	position: absolute;
	top: 3px;
	left: -30px;

	width: 20px;
	height: 17px;

	background-image: url(../img/icon-login.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
} 

.user-navigation .login-link:hover::before {
	background-image: url(../img/icon-login-hover.svg);
}

.user-navigation .login-link:active::before {
	background-image: url(../img/icon-login.svg);
}

.background-wrapper {
	width: 940px;
	margin: 0 auto;

	background-color: #32425c;
	box-shadow: inset 0px -5px 0 0 #293449;
}

.site-navigation {
	list-style: none;

	display: flex;
	margin: 0;
	padding: 0; 
}


.site-navigation a {
	font-size: 17px;
	line-height: 22px;
	color: #fff;

	display: block;
	padding: 18px 30px 20px 30px;
}

.site-navigation li:first-child a {
	padding-left: 52px;
}

.site-navigation li:nth-child(2) a {
	padding-left: 33px;
}

.site-navigation li:last-child a {
	padding-right: 48px;
	padding-left: 33px;
}

.site-navigation a:hover {
	background-color: #293449;
}

.site-navigation a:active {
	background-color: #1d2739;
	color: #8e939c;
}

.popular-products .container {
	flex-direction: column;
}

.popular-goods-wrapper {
	display: flex;
}

.popular-brands .container {
	flex-direction: column;
}

.popular-brands-wrapper {
	display: flex;
}

.services {
	background-color: #f2f6f8;
}

.services .container {
	flex-direction: column;
} 

.second-row {
	display: flex;
}

.about-company-cont {
	justify-content: space-between;
}

.about-company {
	margin-top: 80px;
	margin-bottom: 86px;
	width: 540px;
}

.contacts {
	margin-top: 80px;
}

.about-company h2 {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: #000;

	margin: 0;
}

.about-company p {
	font-family: 'PTSans', Arial, sans-serif;
	font-size: 11px;
	line-height: 24px;

	margin-top: 33px;
	margin-bottom: 0;
}

.delivery-list {
	list-style: none;

	font-size: 18px;
	line-height: 20px;

	margin-top: 33px;
	margin-bottom: 36px;
	padding-left: 36px;
}

.delivery-list li {
	position: relative;
	margin-bottom: 28px;
}

.delivery-list li::before {
	content: "";
	position: absolute;
	top: 8px;
	left: -35px;

	width: 25px;
	height: 2px;

	background-color: #ee3643;
}

.about-company a {
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;

	background-color: #ee3643;

	display: block;
	padding: 14px 40px 10px 40px;
	border-radius: 3px;
	width: 220px;
	box-sizing: border-box;
}

.about-company a:hover {
	background-color: #ca2c37;
}

.about-company a:active {
	background-color: #ba2732;
}

.contacts h2 {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: #000;

	margin: 0;
}

.contacts p {
	font-family: 'PTSans', Arial, sans-serif;
	font-size: 11px;
	line-height: 24px;

	margin-top: 33px;
	margin-bottom: 0;
}

.contacts img {
	margin-top: 33px;
	margin-bottom: 71px;
}

.contacts a {
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;

	background-color: #ee3643;

	display: block;
	padding: 14px 40px 10px 40px;
	border-radius: 3px;
	width: 300px;
	box-sizing: border-box;
}

.contacts a:hover {
	background-color: #ca2c37;
}

.contacts a:active {
	background-color: #ba2732;
}

.main-footer {
	background-color: #32425c;
}

.main-footer .container {
	flex-direction: column;
} 

.footer-nav {
	display: flex;
	justify-content: space-between;
}

.footer-nav-list {
	display: flex;
}

.footer-nav .logo {
	background-color: #ee3643;
	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);

	box-sizing: border-box;
	margin: 0px;
	padding: 23px 0 20px 0;
	width: 220px;
	height: 68px;

	text-align: center;
}

.footer-nav-list {
	list-style: none;

	font-size: 18px;
	line-height: 24px;

	margin: 0;
	padding: 0;
	width: 550px;
}

.footer-nav-list li {
	margin-right: 60px;
	padding-top: 35px;
}

.footer-nav-list a {
	color: #fff;
}

.footer-nav-list a:hover {
	text-decoration: underline;
}

.footer-nav-list a:active {
	color: #929caa;
	text-decoration: none;
}

.footer-center {
	display: flex;
	justify-content: space-between;
	margin-top: 32px;
	margin-bottom: 53px;
}

.footer-contacts {
	font-size: 18px;
	line-height: 24px;
	color: #fff;

	width: 380px;
	margin: 0px;
}

.products-menu-list {
	list-style: none;

	font-size: 18px;
	line-height: 24px;

	display: flex;
	margin: 0;
	padding: 0;
}

.products-menu-list li {
	margin-left: 55px;
}

.products-menu-list a {
	color: #ffd180;
}

.products-menu-list a:hover {
	text-decoration: underline;
}

.products-menu-list a:active {
	color: #998a6e;
	text-decoration: none;
}

.footer-down {
	background-color: #293449;
}

.footer-down .container {
	flex-direction: row;
	padding-top: 40px;
	padding-bottom: 35px;
}

.footer-copyright {
	font-size: 16px;
	line-height: 18px;
	color: #fff;

	width: 300px;
	margin: 0 149px 0 0;
}

.footer-social {
	width: 300px;
	margin-right: 20px;
}

.feedback-wrapper {
	display: flex;
	width: 300px;
}

.footer-social-list {
	list-style: none;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 130px;
	margin: 0;
	padding: 0;
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 50%;

	width: 42px;
	height: 42px;

	background-color: #212a3a;
}

.social-button:hover,
.social-button:active {
	background-color: #ee3643;
}

.footer-feedback {
	margin: 0;
	margin-right: 53px;
}

.footer-developers {
	margin: 0;
}

.footer-feedback b {
	font-size: 16px;
	line-height: 18px;
	color: #fff;
}

.footer-feedback a {
	font-size: 16px;
	line-height: 18px;
	color: #ffd180;
}

.footer-feedback a:hover {
	text-decoration: underline;
}

.footer-feedback a:active {
	text-decoration: none;
	color: #c73644;
}

.footer-developers b {
	font-size: 16px;
	line-height: 18px;
	color: #fff;
}

.footer-developers a {
	font-size: 16px;
	line-height: 18px;
	color: #ffd180;
}

.footer-developers a:hover {
	text-decoration: underline;
}

.footer-developers a:active {
	text-decoration: none;
	color: #c73644;
}


/* внутреняя страница */

.inner ul {
	list-style: none;
}

.inner-menu-navigation {
	width: 300px;
}

.inner-menu-navigation a {
	font-size: 21px;
	line-height: 21px;
	color: #000;

	display: block;
	background-color: #fff;
	padding: 12px 67px 12px 47px;

}

.user {
	position: relative;
}

.user::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 14px;

	width: 20px;
	height: 18px;

	background-image: url(../img/icon-user.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.user:hover::before {
	background-image: url(../img/icon-user-hover.svg);
}

.user:active::before {
	background-image: url(../img/icon-user.svg);
}

.user::after {
	content: "";
	position: absolute;
	top: 15px;
	right: 15px;

	width: 20px;
	height: 18px;

	background-image: url(../img/icon-logout.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.user:hover::after {
	background-image: url(../img/icon-logout-hover.svg);
}

.user:active::after {
	background-image: url(../img/icon-logout.svg);
}

.inner-menu-navigation a:active {
	color: #b2b2b2; 
}

.inner-navigation {
	display: flex;
	margin: 0;
	padding: 10px 0 0 0; 
}

.inner-navigation li {
	background-color: #f4f7f9;
	padding-left: 18px;
}

.inner-navigation li:last-child {
	padding-left: 33px;
}

.inner-navigation li:last-child a {
	position: relative;
}

.inner-navigation li:last-child a::before {
	content: "";
	position: absolute;
	top: 7px;
	left: -18px;

	width: 4px;
	height: 4px;

	background-image: url(../img/Shape1copy.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.inner-navigation a {
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
	color: #32425c;

	background-color: #f4f7f9;
	margin: 0;
	padding: 0;
} 

.inner-navigation a:hover {
	color: #ee3643;
}

.inner-navigation a:active {
	color: #b2b2b2;
}

.breadcrumbs {
	list-style: none;

	display: flex;
	margin: 0;
	padding: 25px 0 25px 0;
}

.breadcrumbs li {
	font-family: 'PTSans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;

	padding-left: 39px;
}

.breadcrumbs li:first-child {
	padding-left: 54px;
}

.breadcrumbs li:last-child {
	padding-left: 43px;
}

.breadcrumbs a {
	color: #000;
}

.inner .perforators {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 400;
	color: #32425c;

	background-color: #f2f6f8;
	margin: 0;
	padding: 34px 0 34px 30px;
	width: 940px;
}

.filters fieldset {
	border: none;
	margin: 0;
	padding: 0;
} 

.filters ul {
	margin: 0;
	padding: 0;
}

.filters-wrapper {
	width: 220px;
	margin-right: 20px;
}

.catalog-wrapper {
	width: 700px;
}

.filters-panel {
	display: flex;
	margin-bottom: 20px;
}

.inner legend {
	font-family: 'PTSans', Arial, sans-serif;
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;

}

.filter-option {
	font-family: 'PTSans', Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
}

.filter-button {
	font-family: 'PTSans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000;
	text-transform: uppercase;
	text-align: center;
}

.products-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.product-item {
	border:1px solid #e5e5e5;

	width: 220px;
	margin-bottom: 20px;
}

.product-item:hover {
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.product-item-wrapper {
	position: relative;
}

.product-item-wrapper .flag {
	position: absolute;
  top: -1px;
  right: -1px;
  
  width: 60px;
  height: 60px;
  
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.product-item-wrapper .flag-new {
  background-image: url(../img/new-flag.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.product-item-buttons {
	position: absolute;
  top: 0;
  left: 0;
  
  width: 218px;
  height: 88px;
  padding: 40px 0;
  
  background-color: rgba(255,255,255,1);
  z-index: 10;
}

.product-item h3 {
	font-family: 'PTSans', Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;

	margin: 0;
}

.product-item p {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: 0;
}

.product-item .old-price {
	font-family: 'PTSans', Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
	text-decoration: line-through;
	text-transform: uppercase;
	color: #999999;

	min-height: 20px;
  margin-top: 18px;
  margin-bottom: 13px;
}

.product-item .price {
	font-family: 'PTSans', Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;

	position: relative;
  width: 80px;
  margin: 0px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  
  color: #fff;
  background: #ee3643;
  border-radius: 3px;
}

.product-item .price::after {
	content: "";
  
  position: absolute;
  top: 0;
  right: -20px;
  
  width: 0;
  height: 0;
  
  border: 19px solid white;
  border-left-color: #ee3643;
}

.product-item .buy {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;

	background-color: #63a63e;
 
}

.product-item .marker {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #32425c;
	background-color: #fff;
}

.product-item .marker:hover {
	border-color: #32425c;
}

.product-item .marker:active {
	color: #c1c6ce;
	border-color: #c1c6ce;
}

.product-item-buttons .buy,
.product-item-buttons .marker {
  display: block;
  width: 130px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;

  cursor: pointer;
}

.product-item-buttons .buy {
	position: relative;
}

.product-item-buttons .buy:hover {
	background-color: #5fbb2d;
}

.product-item-buttons .buy:active {
	background-color: #518534;
}

.product-item-buttons .buy::before {
	content: "";
	position: absolute;
	top: 7px;
	left: 14px;

	width: 15px;
	height: 15px;

	background-image: url(../img/cart-icon-hover.svg);
	background-repeat: no-repeat;
	background-position: 0 0;

	opacity: 0.3;
}

.product-item-buttons .buy:hover::before,
.product-item-buttons .buy:active::before {
	opacity: 1;
}

.product-item .product-item-buttons {
  display: none;
}

.product-item:hover .product-item-buttons {
  display: block;
}

.pagination-list {
	display: flex;
	margin: 0;
	padding: 0;
}

.perforator-description .container {
	flex-direction: column;
}

/*Модальные окна*/

.wrire-us {
	width: 620px;
}